#templateButton{
    margin: 20px;
    background-color: green;
    color: white;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 12px;
}

#templateButton:hover{
    cursor: pointer;
    background-color: rgb(0, 190, 0);
}