#mainSignIn{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A2E36;
}
#signInForm{
    background-color: #0e3e49;
    padding: 3rem 2rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signInForm input{
    color: green;
    padding: .8rem 2rem;
    background-color: #F9DBBD;
    margin: 10px 0;
    border: none;
    border-radius: 12px;
    outline: none;
}
.link{
    color: white;
}