nav{
    background-color: #1E1E1E;
    padding: 1.2rem 3rem;
    display: flex;
    justify-content: space-around;
}

nav input{
    background-color: #F9DBBD;
    border-radius: 50px;
    width: 75%;
    padding: .8rem 2rem;
    font-size: 18px;
}

nav img{
    background-color: white;
    width: 40px;
    height: 40px;
    padding: .2rem;
    border-radius: 360px;
    border: solid 1px blue;
}